// NOT USE NOW-----------------
// body
// {overflow: hidden}
// #preloader-container
// {  z-index: 9999999999;
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   width: 100%;
//   height: 100vh;
//   background-color: rgb(255, 255, 255);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   animation: shadow 2s linear infinite;
//   color: $black;
// }

//   .img-pulse 
// {    animation: pulse_7232 2s linear infinite;
//     transform-origin: 50% 50%;
//     // max-width: 250px
// }

//   @keyframes pulse_7232{
//     0% { opacity: 1 ;}
//     50% { opacity: 0.4 ; }
//     100% { opacity: 1 ; }
//   }